<div class="assignesIssuesTable">
    <table class="col-md-4 col-md-offset-7" >
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Project</th>
            <th>Due Date</th>
        </tr>
        <tr class="assignedIssues" ng-repeat="issue in issuesData.Issues">
            <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
            <td>{{issue.Description}}</td>
            <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
            <td>{{issue.DueDate}}</td>
        </tr>
    </table>
</div>
