<div class="margin-bottom-100"></div>
<div class="row" ng-if="!hasLoggedUser()">
    <div ng-login-form></div>
    <div ng-register-form></div>
</div>
<div class="dashboard" ng-if="hasLoggedUser()">
    <a href="#">Dashboard</a>
    <a href="#/allProjects">Projects</a>    <br/>
    <h4>Dashboard</h4>
    <div>
        <h4>Affiliated Projects</h4>
        <div ng-affiliated-projects=""></div>
    </div>

    <div ng-assigned-issues=""></div> <br/><br/><br/><br/><br/>

    <button ng-click="logout()">Logout</button>
</div>

